body {
    background-color: lightblue;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: red;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: red;
    text-align: center;
}

p {
    font-size: 20px;
    color: red;
    text-align: center;
}